In [2]:
import pandas as pd

In [5]:
df1 = pd.read_csv("reads.csv")
df1

             start  length
0        101843359     151
1        101891952     151
2        148529640     139
3        101921163      42
4        139044920     150
5        151860131     150
6        140476640     147
7         50358597     150
8        101813657     150
9        101813742     151
10        50468064     150
11       151874924     151
12       139044904      89
13       101921086     104
14       101891511     150
15       101891919     151
16       148506370     101
17       101559384     151
18       101821849     151
19       101870822     151
20       104747998     151
21       101924080     151
22       101891869     150
23       139044904     151
24       101892238     151
25       148506084     150
26       140482859     151
27       101821892     126
28       101891869     150
29       151855807     149
...            ...     ...
1980554  101832879     151
1980555  101891606     150
1980556  101917642     151
1980557  140481433     149
1980558  101891869     148
1980559  101833108     131
1980560  101629707     151
1980561  151873858     151
1980562  101891703     151
1980563  151878454      72
1980564  101891832     150
1980565  151896386     151
1980566  101891833     150
1980567  140476865     145
1980568  101923286     150
1980569  101891793     150
1980570  140476725     150
1980571  101892168     150
1980572  101882773     151
1980573  148516807     151
1980574  101917523     151
1980575  101460876     149
1980576  151877812     151
1980577  101882773     151
1980578  101747638     149
1980579  139044904     141
1980580  101891579     107
1980581  101840118     151
1980582  151879515     123
1980583  132639781     150

[1980584 rows x 2 columns]

In [ ]:
df= pd.read_csv("loci.csv")

for index, row in df.iterrows():
    x = int(row['position'])
    cnt=df1[(x >= df1['start']) & (x < df1['start'] + df1['length'] )].count()[0]
    df.at[index,'coverage']=cnt
df